


<h1>Welcome Home Page</h1>

<div class="btn-group" role="group" aria-label="Basic example">
    <button (click)="allbuttononclick()" type="button" class="btn btn-secondary">All Team</button>
    <button (click)="backendbuttononclick()" type="button" class="btn btn-secondary">Back-End Team</button>
    <button (click)="frontendbuttononclick()"  type="button" class="btn btn-secondary">Front-End Team</button>
    <button (click)="testbuttononclick()" type="button" class="btn btn-secondary">Test Team</button>
   
  </div>

  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Username</th>
        <th scope="col">Role</th>
        
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let x of filteredpersons">
        <th scope="row">{{x.id}}</th>
        <td>{{x.firstName}}</td>
        <td>{{x.lastName}}</td>
        <td>{{x.username}}</td>
        <td>{{x.role}}</td>
      </tr>
      


    
    </tbody>
  </table>